APScheduler~=3.9.1
CherryPy~=18.8.0
PyQt5~=5.15.7
SQLAlchemy~=1.4.40
Twisted~=22.8.0
fritzconnection~=1.10.3
paramiko~=2.11.0
pysnmp~=4.4.12
pytz~=2022.1
redis~=4.3.4
requests~=2.28.1
six~=1.16.0
tornado~=6.2
tzlocal~=4.2